body {
	background-color:whitesmoke;
}

.header {
	margin-bottom:20px;
}

ul.nav li a, ul.nav li a:visited {
    color: royalblue !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: royalblue !important;
}

ul.nav li.active a {
    color: royalblue !important;
}

.greeting {
	font-size: 20px;
    margin-bottom: 0px;
}